html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1rem = 10px**/
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --body-bg-main-color: #E5E7E9;
    --item-bg-main-color: #D0D3D4;
    --main-text-color: #212121;
    --secondary-text-color: #FF5722;
    --extra-light: 200;
    --light: 300;
    --medium: 400;
    --semi-bold:500;
    --bold: 700;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-main-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--main-text-color);
    font-size: 2.5rem;
}

.main-wrapper {
    width: 90%;
    height: fit-content;
    background-color: var(--item-bg-main-color);
    margin: 10rem auto;
    padding: 2rem 0;
    border-radius: 1.5rem;
}

.title {
    height: 10%;
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    font-size: 2.9rem;
    font-weight: var(--semi-bold);
}

.content-wrapper {
    height: 90%;
    
}

.result-wrapper {
    padding: 3rem 3rem 1rem;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: space-between;

}

.result-wrapper input {
    font-weight: var(--medium);
    background-color: transparent;
    border: none;
    width: fit-content;
    text-align: right;
    min-width: 100%;
}

.result-wrapper .red-text {
    color: red;
}

.buttons-wrapper {
    padding: 1rem;
    min-width: 95%;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
}

.buttons-wrapper .button-item {
    text-align: center;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}

.buttons-wrapper .special-buttons span {
    color: var(--secondary-text-color);
}

.buttons-wrapper .button-item .clear {
    font-weight: var(--semi-bold);
}

.buttons-wrapper .equal-icon span {
    color: #d4d4d4;
}

.buttons-wrapper .button-item:hover{
    background-color: #9e9e9e42;
    transition: all .8s;
}

.buttons-wrapper .special-buttons:hover {
    background-color: var(--secondary-text-color);
    transition: all .8s;
}

.buttons-wrapper .special-buttons:hover span {
    color: #d4d4d4;
    transition: all .8s;
}

.equal-icon {
    background-color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: 50%;
}

@media (min-width: 769px ) {

    body {
        font-size: 2.9rem;
    }

    .main-wrapper {
        width: 50%;
        height: fit-content;
        background-color: var(--item-bg-main-color);
        margin: 3rem auto;
        padding: 2rem 0;
        border-radius: 1.5rem;
    }

    .title h1 {
        font-size: 3.3rem;
    }

    .buttons-wrapper {
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .buttons-wrapper .button-item:hover{
        cursor: pointer;
        transition: all .8s;
    }

    .result-wrapper input {
        min-width: 80%;
        margin: 0 auto;
    }
    
}